<center><h1>The Six Degress of Kevin Bacon (or whoever)</h1></center>

<div class="main_page">

  <p>
  The Six Degrees of Kevin Bacon is a game which is based on a variation of the observed phenomenon known as "The Six Degrees of Separation"
  This phenomena states that the average "connectedness" of a sufficiently large collection of interconnected objects is 6.

  In this version the objects are actors and the connections between them are determined by films that any pair of actors have starred in together.
  </p>

  <form action="/generator" method="post">
    <u><p>Start Actor</p></u>
    <label for="first-name">First name</label>
    <input type="text" name="first_name" id="first-name">
    <label for="last-name">Last name</label>
    <input type="text" name="last_name" id="last-name"><br><br>
    <u><p>End Actor</p></u>
    <label for="first-name-second-actor">First name</label>
    <input type="text" name="first_name_second_actor" value="Kevin" id="first-name-second-actor">
    <label for="second-name-second-actor">Last name</label>
    <input type="text" name="last_name_second_actor" value="Bacon" id="last-name-second-actor">
    <input type="submit" value="Find Bacon Number">
  </form>

  <br><br>

  <% if @game_run == true %>
    <% if @path == [] %>
      <p>You have entered the same names for both the start and target - that person's "Bacon" number is zero</p>
    <% elsif @path == "Start actor is not in the database!"%>
      <p> <%= @path %></p>
    <% elsif @path == "End actor is not in the database!"%>
      <p> <%= @path %></p>
    <% else %>
      <div class="bacon_container">
        <img class="base_image" src="kevin_bacon.jpeg">
        <div class="centered"><%= @path.length %></div>
      </div>

      <br>

      <div>

        <p><% @path.first.current_vertex.full_name %></p>

          <% @path.each_with_index do |link,index| %>
            <% if index == 0 %>
              <p> <div class="game_box_actor"><%= link.current_vertex.full_name %></div> was in <div class="game_box_film"><%= link.link.title %> </div> with </p>
            <% else %>
              <p> <div class="game_box_actor"><%= link.current_vertex.full_name %></div> who was in <div class="game_box_film"><%= link.link.title %></div> with </p>
            <% end %>
          <% end %>

        <p><div class="game_box_actor"><%= @path.last.next_vertex.full_name %></div></p>
      </div>

    <% end %>
  <% end %>

</div>
