<h1><%= @film.title %></h1>

<h1><%= @film.id %></h1>

<p>List of Actors</p><br>

<table>

<% @film_actors.each do |actor| %>
  <tr>
    <td>
      <p> <%= actor.full_name %> </p>
    </td>
    <td>
      <form action="/films/<%= @film.id %>/<%= actor.id %>/delete" method="post"><input class="hhuh" type='submit' value="Delete"></form>
    </td>
  </tr>

<% end %>

<tr>
  <form action="/films/<%= @film.id %>/actor/add" method="post">
  <td>
    <input type='text' name = "first_name"><input type='text' name = "last_name">
  </td>
  <td>
    <input type='submit' value="Add Actor">
  </td>
  </form>
</tr>
</table>
